<!DOCTYPE html5>
<head>
<!-- Add in Bootstrap stuff here to make the below fancier... -->
<link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/local/general.css" rel="stylesheet">
</head>
<body>
<h1>SiGC Molecule Editor</h1>
<div class="jsme" id="jsme_container"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
		<h2 class="col-md-5">Reactants</h2>
		<div class="col-md-4"></div>
		<h2 class="col-md-2">Products</h2>
	</div> 
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-9">
		<button id="add_reactant" type="button" class="btn">Add to Reactants</button>
		</div>
		<div class="col-md-2">
		<button id="add_product" type="button" class="btn">Add to Products</button>
		</div>
	</div>
	<div class="vspacer-1"></div>
	<div class="row text-center">
		<button id="send_button" type="button" class="btn btn-primary">Submit to SiC³</button>
		<button type="button" class="btn">Reset Reactants/Products</button>
	</div>
	<h1 class="hidden" id="output_header">SiC Output</h1>
	<p class="hidden" id="output_container"></p>
</div>
<script src="/static/js/jsme/jsme.nocache.js"></script>
<script src="/static/js/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.js"></script>
<script src="/static/js/local/reactions.js"></script>
</body>
</html>
